<!DOCTYPE html>
<html>
  <head>
      <title>PiFlix</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
      <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
      <link href="{{ url_for('static', filename='css/tabler.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/tabler-vendors.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
  </head>
  <body>
    <header class="navbar navbar-light d-print-none">
      <div class="container-xl">
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal">
          <a href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="110" height="32" alt="Tabler" class="navbar-brand-image">
          </a>
        </h1>
        <div class="navbar-nav flex-row">
          <div class="nav-item">
            <div class="btn-list">
              <a href="/" class="btn btn-outline-white" rel="noreferrer">
                <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <line x1="5" y1="12" x2="11" y2="18"></line>
                  <line x1="5" y1="12" x2="11" y2="6"></line>
                </svg>
                Go Back
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="container py-4">
      <section class="watch-box">
        <div class="card card-sm mx-auto">
          <div class="card-body text-center">
            <p>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-movie" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#78EA4A" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="8" y1="4" x2="8" y2="20"></line>
                <line x1="16" y1="4" x2="16" y2="20"></line>
                <line x1="4" y1="8" x2="8" y2="8"></line>
                <line x1="4" y1="16" x2="8" y2="16"></line>
                <line x1="4" y1="12" x2="20" y2="12"></line>
                <line x1="16" y1="8" x2="20" y2="8"></line>
                <line x1="16" y1="16" x2="20" y2="16"></line>
              </svg>
              {{ filename }}
            </p>
            <div class="my-1">
                <button class="btn btn-outline-white btn-icon btn-lg" onclick="playerController('stop')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-stop" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="red" fill="red" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect x="5" y="5" width="14" height="14" rx="2"></rect>
                  </svg>
                </button>
            </div>
          </div>
        </div>
        <div id="remote-controller"class="card mx-auto my-4 bg-dark">
          <div class="card-body text-center">
            <p class="text-white">[[ current_time ]] / [[ total_time ]]</p>
            <div>
              <p class="my-2 text-white" id="sliderText" demo-slider="slider">[[ current_time ]] / [[ total_time ]]</p>
              <div data-slider='{"js-name": "slider","start": 50,"range": {"min": 0,"max": 100}}'></div>
            </div>
            <div class="row justify-content-around my-3">
              <div class="col-3">
                <button class="btn btn-light btn-icon btn-lg" onclick="playerController('volume_down')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-volume-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M15 8a5 5 0 0 1 0 8"></path>
                    <path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a0.8 .8 0 0 1 1.5 .5v14a0.8 .8 0 0 1 -1.5 .5l-3.5 -4.5"></path>
                  </svg>
                </button>
                <div>
                  <span class="text-white">- Vol</span>
                </div>
              </div>
              <div class="col-3">
                <button class="btn btn-light btn-icon btn-lg" onclick="playerController('mute')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-volume-3" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="red" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a0.8 .8 0 0 1 1.5 .5v14a0.8 .8 0 0 1 -1.5 .5l-3.5 -4.5"></path>
                    <path d="M16 10l4 4m0 -4l-4 4"></path>
                  </svg>
                </button>
                <div>
                  <span class="text-white">Mute</span>
                </div>
              </div>
              <div class="col-3">
                <button class="btn btn-light btn-icon btn-lg" onclick="playerController('volume_down')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-volume" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M15 8a5 5 0 0 1 0 8"></path>
                    <path d="M17.7 5a9 9 0 0 1 0 14"></path>
                    <path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a0.8 .8 0 0 1 1.5 .5v14a0.8 .8 0 0 1 -1.5 .5l-3.5 -4.5"></path>
                  </svg>
                </button>
                <div>
                  <span class="text-white">Vol +</span>
                </div>
              </div>
            </div>
            <div class="row justify-content-around my-3">
              <div class="col-3">
                <button class="btn btn-light btn-icon btn-lg" onclick="playerController('rewind_15s')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <polyline points="11 7 6 12 11 17"></polyline>
                    <polyline points="17 7 12 12 17 17"></polyline>
                  </svg>
                </button>
                <div>
                  <span class="text-white">- 15s</span>
                </div>
              </div>
              <div class="col-3">
                <button v-on:click="doControllerAction('play_pause')" class="btn btn-primary btn-icon btn-lg">
                  <svg v-if="is_playing" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-pause" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect x="6" y="5" width="4" height="14" rx="1"></rect>
                    <rect x="14" y="5" width="4" height="14" rx="1"></rect>
                  </svg>
                  <svg v-else xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 4v16l13 -8z"></path>
                  </svg>
                </button>
                <div>
                  <span v-if="is_playing" class="text-white">Pause</span>
                  <span v-else class="text-white">Play</span>
                </div>
              </div>
              <div class="col-3">
                <button class="btn btn-light btn-icon btn-lg" onclick="playerController('forward_15s')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <polyline points="7 7 12 12 7 17"></polyline>
                    <polyline points="13 7 18 12 13 17"></polyline>
                  </svg>
                </button>
                <div>
                  <span class="text-white">+ 15s</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tabler.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue2.js') }}"></script>
    <script>
      let store = {
        debug: true,
        state: {
          is_playing: false,
          is_mute: false,
          current_time: 0,
          total_time: 100,
        },
        async doControllerAction (action, value) {
          if (this.debug) console.log('doControllerAction triggered with', action, value)
          if(action === 'play_pause'){
            if(this.state.is_playing){
              this.state.is_playing = false
              action = 'pause'
            }
            else{
              this.state.is_playing = true
              action = 'play'
            }
          }
          response = await fetch(`/player/controller`, { method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({ action, value })})
        },
        async getStats(){
            let response = await fetch(`/player/stats`, { method: 'GET'})
            response = await response.json()
            console.log(response)
            this.state.is_playing =  response.data.is_playing
            this.state.is_mute  = response.data.is_mute
            this.state.current_time = response.data.current_time
            this.state.total_time = response.data.total_time
        },
        slider(){
          let sliderText = document.getElementById('sliderText');
          slider.on('update',function(values,handle){
              sliderText.innerHTML = `${values[handle]} / 100.00`;
          });
        }
      }
      const rcontroller = new Vue({
        el: '#remote-controller',
        delimiters: ['[[',']]'],
        data: store.state,
        methods: {
          doControllerAction(action, value =''){
            store.doControllerAction(action, value)
          },
          getStats(){
            setInterval(store.getStats.bind(store), 1000)
          }
        },
        mounted(){
          this.getStats()
        }
      })


      let sliderTriggerList = [].slice.call(document.querySelectorAll("[data-slider]"));
      sliderTriggerList.map(function (sliderTriggerEl) {
        let options = {};
        if (sliderTriggerEl.getAttribute("data-slider")) {
          options = JSON.parse(sliderTriggerEl.getAttribute("data-slider"));
        }
        let slider = noUiSlider.create(sliderTriggerEl, options);
        if (options['js-name']) {
          window[options['js-name']] = slider;
        }
      });
    
      window.onload = store.slider;
    </script>
  </body>
</html>